<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="Sweeter - the sweetest site">
    <meta property="og:description" content="This is my project from LearningX">
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret | SWEETER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" />
                <strong class="is-sparta logo-text" style="padding-left: 5px;">SWEETER</strong>
            </a>
        </div>
    </nav>
    <section class="hero is-large is-danger">
        <div class="hero-body">
            <p class="title">Secret Page</p>
            <hr>
            <p class="subtitle">This account belongs to "{{ user_info.profile_name }}"</p>
        </div>
    </section>
</body>

</html>